.authentication-wrapper {
  --bs-auth-basic-inner-max-width: 460px;
  display: flex;
  flex-basis: 100%;
  inline-size: 100%;
  min-block-size: 100vh;
}
.authentication-wrapper .authentication-bg {
  background-color: var(--bs-paper-bg);
}
.authentication-wrapper .authentication-inner {
  inline-size: 100%;
}
.authentication-wrapper.authentication-basic {
  align-items: center;
  justify-content: center;
}
.authentication-wrapper.authentication-basic .authentication-inner {
  max-inline-size: var(--bs-auth-basic-inner-max-width);
}
.authentication-wrapper .auth-cover-illustration {
  z-index: 1;
  max-inline-size: 38rem;
}
.authentication-wrapper .authentication-image-object-left {
  position: absolute;
  inset-block-end: 6%;
  inset-inline-start: 4%;
}
.authentication-wrapper .authentication-image-object-right {
  position: absolute;
  inset-block-end: 7%;
  inset-inline-end: 4%;
}
.authentication-wrapper .authentication-image {
  position: absolute;
  z-index: -1;
  inline-size: 100%;
  inset-block-end: 0;
  inset-inline-start: 0;
  object-fit: contain;
}
.authentication-wrapper .authentication-image-model {
  inline-size: 768px;
}
.authentication-wrapper.authentication-cover {
  align-items: flex-start;
}
.authentication-wrapper.authentication-cover .authentication-inner {
  position: relative;
  min-block-size: 100vh;
}
.authentication-wrapper.authentication-cover .authentication-image {
  inset-inline-start: unset;
}
.authentication-wrapper.authentication-cover .authentication-image-tree {
  position: absolute;
  inset-block-end: 4rem;
  inset-inline-start: 3rem;
}
.authentication-wrapper .auth-input-wrapper .auth-input {
  font-size: 150%;
  max-inline-size: 50px;
  padding-inline: 0.4rem;
}
@media (max-width: 575.98px) {
  .authentication-wrapper .auth-input-wrapper .auth-input {
    font-size: 1.125rem;
  }
}
@media (max-width: 1199.98px) {
  .authentication-cover .authentication-image-model {
    position: relative;
    inline-size: 575px;
    inset-block-start: 1rem;
  }
}
.auth-cover-brand {
  position: absolute;
  z-index: 1;
}
@media (max-width: 575.98px) {
  .auth-cover-brand {
    inset-inline-start: 3rem;
  }
}
#twoStepsForm .fv-plugins-bootstrap5-row-invalid .form-control {
  border-width: 2px;
  border-color: #ff4c51;
  box-shadow: none;
}
@media (max-width: 575.98px) {
  .numeral-mask-wrapper .numeral-mask {
    padding: 0;
  }
  .numeral-mask {
    margin-inline: 1px;
  }
}
